The following website is a portfolio site for Alex Olyaiy.

This site is built with Next.js, Tailwind CSS, Shadcn UI and TypeScript.

Alex is a computer science student at the University of British Columbia, in Vancouver BC.

He is also the co-founder of High Tide Digital (www.hightidedigital.ca), a full-stack web development agency.

